POSTGRES_USER=smh_user
POSTGRES_PASSWORD=troque-esta-senha
POSTGRES_DB_NAME=SMH
CONTAINER_POSTGRES_NAME=smh-db
POSTGRES_PORT=5432
CONTAINER_APP_NAME=smh-app
APP_PORT=8080

# --- SMH (Spring) ---
JWT_SECRET=troque-este-segredo-por-um-segredo-longo-e-aleatorio
JWT_ISSUER=smh
